<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<p><%= @task.completed %></p>
<%= link_to "Back to list", tasks_path %>
<%= link_to "Edit task", edit_task_path %>
<%= link_to "Delete task", delete_task_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
